*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer{
    display: flex;
flex-direction: row;
align-items: center;
padding: 60px;
gap: 64px;
justify-content: space-between;
text-decoration-line: overline;
font-size: larger;
color: gray;
padding-top: 350px;
position: relative;



/* Base/White */

background: #FFFFFF;
}