.links{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;
justify-content: space-evenly;
height: 576px;


}
.fcc-btn {
    background-color:#EAECF0;
    color: black;
    padding: 15px 25px;
    text-decoration: none;
    box-shadow: 1rem;
    box-sizing: border-box;
    display: flex;
    margin-bottom: 15px;
    font-weight: lighter;
justify-content: center;
align-items: center;
padding: 24px 32px;
gap: 8px;

width: 1152px;
height: 76px;

border: 1px solid #EAECF0;
border-radius: 8px;
  }
  .fcc-btn span{
    background-color: #EAECF0;
  }
  .fcc-btn1 {
    background-color: #EAECF0;
    color: black;
    padding: 15px 25px;
    text-decoration: none;
    box-shadow: 1rem;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-weight: lighter;
    display: flex;

justify-content: center;
align-items: center;
padding: 24px 32px;
gap: 8px;

width: 1152px;
height: 76px;

border: 1px solid #EAECF0;
border-radius: 8px;
  }
  .fcc-btn1 span{
    background-color: #EAECF0;
  }
  .fcc-btn2 {
    background-color: #EAECF0;
    color: black;
    padding: 15px 25px;
    text-decoration: none;
    box-shadow: 1rem;
    box-sizing: border-box;
    margin-bottom: 15px;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 24px 32px;
gap: 8px;
font-weight: lighter;
width: 1152px;
height: 76px;

border: 1px solid #EAECF0;
border-radius: 8px;

  }
  .fcc-btn2 span{
    background-color: #EAECF0;
  }
   
  .fcc-btn3 {
    background-color: #EAECF0;
    color: black;
    padding: 15px 25px;
    text-decoration: none;
    box-shadow: 1rem;
    box-sizing: border-box;
    margin-bottom: 15px;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 24px 32px;
gap: 8px;
font-weight: lighter;
width: 1152px;
height: 76px;



background: #EAECF0;


border: 1px solid #EAECF0;
border-radius: 8px;
  }
  .fcc-btn3 span{
    background-color: #EAECF0;}
  .fcc-btn4 {
    background-color: #EAECF0;
    color: black;
    padding: 15px 25px;
    text-decoration: none;
    box-shadow: 1rem;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-weight: lighter;


display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 24px 32px;
gap: 8px;

width: 1152px;
height: 76px;


background: #EAECF0;


border: 1px solid #EAECF0;
border-radius: 8px;
  }
  .fcc-btn4 span{
        background-color: #EAECF0;}
  .fcc-btn5 {
    background-color: #EAECF0;
    color: black;
    padding: 15px 25px;
    text-decoration: none;
    box-shadow: 1rem;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-weight: lighter;


display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 24px 32px;
gap: 8px;

width: 1152px;
height: 76px;



background: #EAECF0;


border: 1px solid #EAECF0;
border-radius: 8px;
  }
  .fcc-btn6{
    box-sizing: border-box;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px 32px;
gap: 8px;
text-decoration: none;
width: 1152px;
height: 76px;
background: #EAECF0;
border: 1px solid #EAECF0;
border-radius: 8px;
font-weight: lighter;
  }
  .fcc-btn6 span{
    background-color: #EAECF0;
    color: black;
  }
  .fcc-btn5 span{
    background-color: #EAECF0;}
  ul {  
    list-style-type: none;  
    font-weight: bold;  
    font-size: 20px;  
    }  
    .subtext{
        color: #EAECF0;
        font-size: 10px;
    }
    .subtext2{
        color: #EAECF0;
        font-size: 10px;
    }
    .subtext3{
        color: #EAECF0;
        font-size:10px;
    }
    .subtext4{
        color: #eaecf0;
        font-size: 10px;
    }
    .fcc-btn:hover{
        background-color: black;

    }
    .fcc-btn1:hover{
        background-color: black;
    }
    .fcc-btn2:hover{
        background-color: black;
    }
    .fcc-btn3:hover{
        background-color: black;
    }
    .fcc-btn4:hover{
        background-color: black;
    }
    .fcc-btn5:hover{
        background-color: black;
    }
    .fcc-btn6:hover{
      background-color: black;
    }

    .fcc-btn span:hover{
        background-color: black;
        color: #EAECF0;
        
    }
    .fcc-btn1 span:hover{
      background-color: black;
     color: #EAECF0;
    }
    .fcc-btn2 span:hover{
    background-color: black;
    color: #EAECF0;
}
    .fcc-btn3 span:hover{
    background-color: black;
    color: #EAECF0;
}
    .fcc-btn4 span:hover{
    background-color: black;
    color: #EAECF0;
}
.fcc-btn5 span:hover{
    background-color: black;
    color: #EAECF0;
}
.fcc-btn6 span:hover{
  background-color: black;
  color: #EAECF0;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: white;
    }
    .links{
        display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;



    }
    .fcc-btn{
        display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px 32px;
gap: 8px;


background: #EAECF0;
border: 1px solid #EAECF0;
border-radius: 8px;
    }
    .fcc-btn span{
        width: 79px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;

    }
  }